name: Check Links

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1" # Run every Monday

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          # Check markdown and html files
          args: -a '100..=103,200..=299,403' --verbose --no-progress './**/*.md' './**/*.html'
          fail: true
