name: Build Resume
on:
  workflow_call:
    inputs:
      artifact_name:
        required: false
        type: string
        default: 'resume-build-output'
      retention_days:
        required: false
        type: number
        default: 1
      image_tag:
        required: false
        type: string
        default: 'latest'

env:
  RESUME_MD: resume.md
  RESUME_SITE_MD: resume-site.md
  RESUME_HTML: index.html

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:${{ inputs.image_tag }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      
      - name: Run Build Script
        run: ./build.sh
        env:
          REPO_URL: ${{ github.server_url }}/${{ github.repository }}

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.artifact_name }}
          path: output
          retention-days: ${{ inputs.retention_days }}
